@{
    ViewData["Title"] = "StaticGlobalBoyz";
}

<div class="well text-center">
    <div class="row">
        <div class="col-md-6">
            <a asp-action="beats" asp-controller="products" class="fancy-link">
                <img src="https://i.imgur.com/noJ7KVy.png" style="width:100%;">
                <div id="beats_head">
                    Tracks
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a asp-action="clothes" asp-controller="products" class="fancy-link">
                <img src="https://i.imgur.com/L9BgsBq.png" style="width:100%;" />
                <div id="clothes_head">
                    Clothes
                </div>
            </a>
        </div>
    </div>
</div>