@{
    ViewData["Title"] = "Support us - Static Global Boyz";
}

<div class="text-center blockquote ">
    <h3><a href="https://www.paypal.me/staticglobalboyz" target="_blank">Paypal</a></h3>
    <h3><a href="https://www.patreon.com/staticglobalboyz" target="_blank">Patreon</a></h3>
    <h3>Buy me a coffee</h3>
</div>
