@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out - Static Global Boyz";
}

<header>
    <h1 class="text-portocaliu">@ViewData["Title"]</h1>
    <p class="text-portocaliu">This account has been locked out, please try again later.</p>
</header>
